@import '../node_modules/antd/dist/reset.css';;

@tailwind base;
@tailwind components;
@tailwind utilities;





  .input-field {
    @apply h-11 rounded-lg border border-solid;
    @apply leading-6 text-[16px] font-[400] text-[#667085];
  }

  .ant-input-affix-wrapper.ant-input-password.input-field {
    @apply h-11 rounded-lg border border-solid;
    @apply leading-6 text-[16px] font-[400] text-[#667085];
  }

  .btn-primary {
    @apply h-11 rounded-lg bg-[#9B83CB];
    @apply leading-6 text-[16px] font-[600] text-white;
  }

  .btn-primary:hover {
    @apply !text-[white] border-none bg-[#b3a1d7]
  }
  .btn-primary:disabled {
    @apply !text-[#ffffffae] border-none bg-[#dcd3ee]
  }

  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none !important;
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    content: '*';
    color: #344054;
    margin-left: 2px;
    margin-bottom: 4px;
  }